<!-- HackRice Project -->

<!DOCTYPE html>

<html lang='en'>

<head>
    <title>{% block title %} {% endblock %}</title> <!--can pass in user_name from Person object and include this in the dashboard title-->
    <!-- Meta -->
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width initial-scale=1'>
    <meta name='author' content='Eddie Dugan, Evi Liu, Jake Peacock, Jeffrey Xiong, May Zhong'>
    <!-- CSS -->
    <link rel='stylesheet' href='static/css/reset.css'>
    <link rel='stylesheet' href='static/css/styles.css'>
    {% block css %} {% endblock %}
    <!-- Javascript / JQuery -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    {% block js %} {% endblock %}
</head>

<body>

<!-- Nav Bar -->
<div class='bar'>
    <nav>
        <a href='/dash?netid={{netid}}'> <img id='menu-logo' class='inline' src='static/images/logo.svg' height='30'> </a>
        <form id='menu-action' class='inline menu-item' action='/signout' method='POST'>
            <input class='signout' type='submit' name='signout' value ='Log Out'>
        </form>
        <span class='inline menu-item'> Welcome, {{current_user}} </span>
    </nav>
</div>

<div class='divider'></div>

{% block content %} 

{% endblock %}

<footer>
    <span>Hack Rice Project | &copy; 2015 Eddie Dugan, Evi Liu, Jake Peacock, Jeffrey Xiong, May Zhong </span>
</footer>

</body>

</html>