<!DOCTYPE html>

<html lang='en'>

<head>
    <title>{{current_user}}'s Dashboard</title> <!--can pass in user_name from Person object and include this in the dashboard title-->
    <!-- Meta -->
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width initial-scale=1'>
    <meta name='author' content='Eddie Dugan, Evi Liu, Jake Peacock, Jeffrey Xiong, May Zhong'>
    <!-- CSS -->
    <link rel='stylesheet' href='static/css/reset.css'>
    <link rel='stylesheet' href='static/css/styles.css'>
    <link rel='stylesheet' href='static/css/dashboard.css'>
    <!-- Javascript / JQuery -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src='static/js/scripts.js'></script>
</head>

<body>

<!-- Nav Bar -->
<div class='bar'>
    <nav>
        <a href='/dash?netid={{netid}}'> <img id='menu-logo' class='inline' src='static/images/logo.svg' height='30'> </a>
        <form id='menu-action' class='inline menu-item' action='/signout' method='POST'>
            <input class='signout' type='submit' name='signout' value ='Log Out'>
        </form>
        <span class='welcome inline menu-item'> Welcome, {{current_user}} </span>
    </nav>
</div>

<div class='divider'></div>

<div class='content'>
    <!-- Create an Event -->
    <div id='existing' class='dash-content flex'>
        <div class='visual'>
            <img src='static/images/create-03.png' width='80'>
            <h3> YOUR CRAWLS </h3>
        </div>
        <div id='events'>
            <ul id ='events-list'>
            {%for event in event_list%}
                <a href='/crawl?event_id={{event.key.id()}}&netid={{netid}}'><li>{{event.name}}</li></a>
            {%endfor%}
            </ul>

        </div>

    </div>
    <div id='create' class='dash-content flex'>
        <div id='focus-event' class='visual'>
            <img src='static/images/create-02.png' width='80'>
            <h3> CREATE A CRAWL. </h3>
        </div>
        <form id='create-form' action='/crawl'>
        <!--            Event Guests: <input style='width:300px; height:30px' type='text' maxlength='30' name= 'event_attend_list' required><br>-->
            <label class='create-label' for='event_name'>Event Name: </label>
            <input id='event-name' class='create-input' type='name' name='event_name' required='True'>
            <br><br>
            <label class='create-label' for='event_date'>Event Date: </label>
            <input class='create-input' type='date' name='event_date' required='True'>
            <br><br>
            <label class='create-label' for='event_time'>Event Time: </label>
            <input class='create-input' type='time' name='event_time' required='True'>
            <br><br>
            <label class='create-label' for='event_description'>Event Description: </label>
            <textarea class='create-input'  name='event_description' rows='6' cols='33'></textarea>
            <input type='hidden' name='host' value='{{netid}}'>
            <input type='hidden' name='netid' value='{{netid}}'>
            <input type='hidden' name='new' value='True'>
            <!-- 
            Next we need to add the attendee list (preliminary) that can be passed as a data structure of Person objects -->

            <!-- We still need to pass in the user_name who is currently signed in as event_host -->
            <input class='submit create-submit' type='submit' value='Create'>
            <script>
                $('#focus-event').click(function(){
                    $('#event-name').focus();
                });
            </script>
        </form>
    </div>

</div>

<footer>
    <span>Hack Rice Project | &copy; 2015 Eddie Dugan, Evi Liu, Jake Peacock, Jeffrey Xiong, May Zhong </span>
</footer>

</body>

</html>

