<!DOCTYPE html>

<html lang='en'>

<head>
    <title>{{current_user}}'s Event</title> <!--can pass in user_name from Person object and include this in the dashboard title-->
    <!-- Meta -->
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width initial-scale=1'>
    <meta name='author' content='Eddie Dugan, Evi Liu, Jake Peacock, Jeffrey Xiong, May Zhong'>
    <!-- CSS -->
    <link rel='stylesheet' href='static/css/reset.css'>
    <link rel='stylesheet' href='static/css/styles.css'>
    <link rel='stylesheet' href='static/css/event.css'>
    <!-- Javascript / JQuery -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
</head>

<body>

<!-- Nav Bar -->
<div class='bar'>
    <nav>
        <a href='/dash?netid={{netid}}'> <img id='menu-logo' class='inline' src='static/images/logo.svg' height='30'> </a>
        <form id='menu-action' class='inline menu-item' action='/signout' method='POST'>
            <input class='signout' type='submit' name='signout' value ='Log Out'>
        </form>
        <span class='welcome inline menu-item'> Welcome, {{current_user}} </span>
    </nav>
</div>

<div class='divider'></div>

<div class='content-title'>
    <h1> Event: {{event_name}} </h1>
</div>

<div class='flex content'>

    <div class='left'>
        <div class='info event-box-left'>
            <span class='info-content'> Date: <span class='info-display'>{{event_date}}</span> </span>
            <span class='info-content'> Time: <span class='info-display'>{{event_time}}</span> </span>
            <br>
            <span class='info-content'> Organizer: <span class='info-display'>{{host_name}}</span> </span>
            <span class='info-content'> Contact: <span class='info-display'>{{host_phone}}</span> </span>
            <br>
            <form action='/delete_event'>
                <input type="hidden" name="netid" value="{{netid}}">
                <input type="hidden" name="event_id" value="{{event_id}}">
                <input class='signout' type='submit' name='delete_event' value='Delete Event'>
            </form>
        </div>

        <div class='create-stops event-box-left'>
            <form action = '/add_stop'>
                <label for='stop_name' class='stop-label'>Stop:</label>
                <input class='stop-text' type='text' name='stop_name' placeholder='Stop Name'>
                <br><br>
                <label for='college_location' class='stop-label'>Location:</label>
                <input class='stop-text' type='text' name='college_location' placeholder='College'>
                <input class='stop-text small-input' type='text' name='room_number' placeholder='Room #'>
                <br><br>
                <input type='hidden' name='stop_host' value='{{netid}}'>
                <input type='hidden' name='netid' value='{{netid}}'>
                <input type='hidden' name='event_id' value='{{event_id}}'>
                <br><br>
                <input class='submit' type='submit' name='submit' value='Create a Stop'>
            </form>
        </div>

        <div class='stops event-box-left'>
            <form action = '/next_stop'>
                <input type='submit' alt='Submit' value='Next Stop'> 
                <input type='hidden' value='{{event_id}}' name='event_id'>
                <input type='hidden' value='{{netid}}' name='netid'>
            </form>
<!--            <form action= '/move_stop'> -->
            <div id = 'stop_info'>
                <h3> Current Stops </h3>
                <ul id='current-stop-list'>
                {%for index in range(stop_list|count)%}

                    <li>Stop Number: {{index + 1}}</li>
                    <li>Stop: {{stop_list[index]['stop_name']}}</li>
                    <li>Location: {{stop_list[index]['college_location']}}</li>
                    <li>Room Number: {{stop_list[index]['room_number']}}</li>
                    <li>Host: {{stop_list[index]['stop_host'].name}}</li>
                    <br>
                    <form action="/delete_stop" method="get" accept-charset="utf-8">
                        <input type="hidden" name="stop_index" value="{{index}}">
                        <input type="hidden" name="event_id" value="{{event_id}}">
                        <input type="hidden" name="netid" value="{{netid}}">
                        <input type="submit" value="delete">
                    </form>

                {%endfor%}
                </ul>
                <!-- Edit Stop Order:<br>
                Current Position:
                <select name= "current_index">
                    <ul>
                    {%for index in range(stop_list|count)%}
                        <option value= '{{index}}'>{{index+1}}</option>
                    {%endfor%}
                    </ul>
                </select><br>
                
                New Position: 
                <select name= "new_index">
                    <ul>
                    {%for index2 in range(stop_list|count)%}
                        <option value= '{{index2}}'>{{index2 +1}} </option>
                    {%endfor%}
                    </ul>
                </select>
                <input type="submit" value="Apply Changes">
                <br>
                Delete Stop:
                <select name = "delete_index">
                    <ul>
                    {%for index in range(stop_list|count)%}
                        <option value= '{{index}}'>{{index+1}}</option>
                    {%endfor%}
                    </ul>
                </select>
                <input type='submit' value='Delete Stop'> -->
            </div>
            <!-- </form> -->
        </div>
    </div>

    <div class='right'>
        <div class='attendees-search event-box-right'>

            <h3> Invite Attendees </h3>
            <form class='searchform' action = '/search_people'>
                <input class='searchbox stop-text' type='text' placeholder='John Doe' name='user_search_name'>
                <input type='hidden' value='{{netid}}' name='netid'>
                <input type='hidden' value='{{event_id}}' name='event_id'>
                <input id='search' class='submit' type='submit' name='search' value='Search'>
            </form>
            {% if search_done%}
            <ul id="search_result_list">
            {%for person, person_id in search_result_list%}
                <form action='/invite_person'>
                    <input type='hidden' value='{{person_id}}' name = 'person_id'>
                    <input type='hidden' value='{{event_id}}' name = 'event_id'>
                    <input type='hidden' value='{{netid}}' name = 'netid'>
                    <li><input id='invite' class='submit' type='submit' name='invite' value='Invite' width="40">{{person}} </li>
                </form>
            {%endfor%}
            </ul>
            {%endif%}

        </div>
        <div class='attendees event-box-right'>
            <h3> List of Attendees </h3>
            <ul id="attendees_list">
            {% for attendee in event_attendees %}
                <form action="/delete_invitee" method="get" accept-charset="utf-8">
                    <li>{{attendee.name}}</li>
                    <input type="hidden" name="event_id" value="{{event_id}}">
                    <input type="hidden" name="netid" value="{{netid}}">
                    <input type="hidden" name="person_id" value="{{attendee.auth_ids[0]}}">
                    <input type="submit" value="delete">
                </form>
            {% endfor %}
            </ul>
        </div>
        <div class='venmo event-box-right'>
            <h3> Donate to Crawl Hosts </h3>

            <a href= "https://venmo.com/?txn=pay&recipients={{host_phone}}&note={{event_name}}&audience=friends"><img src="/static/images/venmo.png" width="50px"></a><br><br>

            <form action='/venmo'>
                <input type ='hidden' name= 'event_id' value="{{event_id}}">
                <input type ='hidden' name= 'netid' value="{{netid}}">
                <select name= "venmo_stop">
                    <ul>
                    {%for index in range(stop_list|count)%}
                        <option value= '{{index}}'>{{stop_list[index]['stop_name']}}</option>
                    {%endfor%}
                    </ul>
                </select><br>
            </form>
        </div>
    </div>
</div>
   
<footer>
    <span>Hack Rice Project | &copy; 2015 Eddie Dugan, Evi Liu, Jake Peacock, Jeffrey Xiong, May Zhong </span>
</footer>

</body>

</html>
<!-- Alcoholic or Non check box
            Optional: Drink Provided -->

            <!--Check if current user has privileges to add a crawl stop -->
<!--
        txn: pay or charge
        recipients: enter host's phone number
        amount: self explanatory
        note: whatever description you want to add
        audience: friends, public, or private
-->
        <!--Set up an inviting system.
        First with a text box that can search and return people based on name
-->
