
<!-- HackRice Project -->

<!DOCTYPE html>

<html lang='en'>

<head>

    <title>Crawlr - Plan a crawl</title>
    <!-- Meta -->
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width initial-scale=1'>
    <meta name='author' content='Eddie Dugan, Evi Liu, Jake Peacock, Jeffrey Xiong, May Zhong'>
    <!-- CSS -->
    <link rel='stylesheet' href='static/css/reset.css'>
    <link rel='stylesheet' href='static/fancybox/jquery.fancybox.css'>
    <link rel='stylesheet' href='static/css/styles.css'>
    <link rel='stylesheet' href='static/css/home.css'>
    <!-- Javascript / JQuery -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src='static/fancybox/jquery.fancybox.js'></script>
    <script src='static/js/scripts.js'></script>
</head>

<body>

<!-- Background Image -->
<div id="bg"></div>

<!-- Cover Overlay -->
<div id='cover'>
	<div id='content'>
		<!-- Logo -->
		<img src='static/images/logo.svg' height='90'>
		<p class="subtext"> Create, Host Stops, and Join Crawls @ Rice University </p>
		<!-- Login Form -->
		<form action='/login' method='POST'>
			<input id='email' class='login-text' type='text' name='netid' required='required'>
			<label id='email-label' class='login-label' for='netid'> 
				<div class='login-label-content'><span>NETID</span></div>
			</label>
			<input id='password'class='login-text' type='password' name='password' required='required'>
			<label id='password-label' class='login-label' for='password'> 
				<div class='login-label-content'><span>PASSWORD</span></div>
			</label>
			<input class='submit home-submit' type='submit' value='Login'>
			{% if login_fail %}
	        <p class='form-error'>INVALID LOGIN. Please try again.</p>
	        {% elif bad_passwords %}
	        <p class='form-error'>SIGN UP FAILED. Please try again.</p>
	        {% endif %}
		</form>
		<!-- Sign Up Option -->
		<p class='subtext'> Don't have an account yet? &nbsp <a class='fancy' href='#inline'>Sign Up</a></p>
	</div>
	<!-- Sign Up Form -->
	<div id='inline'>
		<h3> Sign Up </h3>
		<form action='/signup' method ='POST' onsubmit='return validate();'>
			<label class='signup-label' for='name'> Name: </label>
        	<input class='signup-text' type='text' name='name' placeholder='First Last'>
        	<br>
        	<label class='signup-label' for='email'> Rice Email: </label>
        	<input id='rice-email' class='signup-text' type='text' name='email' placeholder='netid@rice.edu'>
        	<br>
        	<label class='signup-label' for='phone'> Phone: </label>
        	<input class='signup-text' type='text' name='phone' placeholder='##########'>
        	<br>
        	<label class='signup-label' for='password'> Password: </label>
        	<input id='signup-password' class='signup-text' type='password' name='password' placeholder='password'>
        	<br>
        	<label class='signup-label' for='confirm'> Confirm Password: </label>
        	<input id='signup-confirm' class='signup-text' type='password' name='confirm' placeholder='confirm password'>
        	<br>
            <input id='signup' class='submit home-submit' type='submit' name='signup' value='Sign Up'>
        </form>
    </div>
</div>

</body>

<html>