/*-- Dashboard CSS --*/

/*-- Form Actions --*/

#create-form{
	position: relative;
	margin-top: 20px;
}
.create-label{
	display: inline-block;
	width: 100px;
	text-align: left;
	margin-left: 70px;
	font-size: 14px;
}
.create-input{
	width: 450px;
}
.create-submit{
	margin: 0 auto;
	margin-top: 30px;
}

/*-- Content --*/
.dash-content{
	width: 95%;
	height: auto;
	padding: 30px 0px 10px 0px;
}
#events{
	width: 575px;
	height: 225px;
	margin-left: 30px;
	margin-bottom: 25px;
	overflow-y: auto;
	overflow-x: hidden;
}
	#events-list > a > li{
		width: 525px;
		height: auto;
		padding: 30px;
		margin-bottom: 10px;
		background-color: #F7F7F7;
	}
.visual{
	width: 250px;
	height: 175px;
	padding-top: 50px;
	border-right: 2px solid #D7D7D7;
	background-color: #F7F7F7;
	text-align: center;
}

@media (max-width: 1025px) {
	.flex{
		-webkit-justify-content: center;
		justify-content: center;
	}
	#events{
		margin-left: 0px;
		padding-left: 0px;
		margin-bottom: 0px;
		height: auto;
	}
	#events-list{
		margin-top: 20px;
		padding-left: 0px;
	}
	.create-label{
		display: block;
		margin-left: 0px;
	}
	#events-list > a > li{
		width: 80%;
		margin: 0 auto;
	}
	.create-input{
		width: 90%;
		margin: 0 auto;
	}
	#create-form{
		margin-top: 20px;
		width: 90%;
	}
	.welcome{
		display: none;
	}
	.visual{
		border-right: 0px;
		border-bottom: 2px solid #D7D7D7;
	}
}
	
