::-webkit-input-placeholder{
	font-family: Open Sans L;
	color: #737B7F;
	font-size: 14px;
}
li{
	font-family: Open Sans L; 
	font-size: 14px;
}

/*-- Content --*/
.content-title{
	width: 90%;
	margin-left: 5%;
	margin-bottom: 10px;
}

.event-box-left{
	width: 90%;
	height: auto;
	padding: 20px;
	position: relative;
}
.event-box-right{
	width: 80%;
	height: auto;
	padding: 20px;
	position: relative;
}
.info{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #A4A4A4;
}
.info-content{
	display: inline-block;
	width: 200px;
	margin: 15px;
	font-size: 16px;
}
.info-display{
	font-family: Open Sans R;
	font-size: 16px;
}
.create-stops, .stops{
	background-color: rgba(215, 215, 215, 0.8);
}
.stop-label{
	width: 100px;
	display: inline-block;
}
.small-input{
	width: 50px;
}

/*-- Search --*/
.attendees-search{
	position: relative;
	background-color: rgba(215, 215, 215, 0.8);
}
.attendees, .venmo{
	margin-top: 20px;
	position: relative;
	background-color: rgba(215, 215, 215, 0.8);
}
	.attendees-search > h3, .attendees > h3, .venmo > h3{
		display: block;
		width: 200px;
		margin: 0 auto;
		margin-bottom: 20px;
		text-align: center;
	}
	.venmo{
		text-align: center;
	}
.searchform{
	position: relative;
}
	#search{
		margin: 0 auto;
		margin-top: 10px;
		position: relative;
		display: block;
	}
	.searchbox{
		width: 75%;
		margin: 0 auto;
		display: block;
		position: relative;
	}
#search_result_list, #attendees_list, #current-stop-list{
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
	padding: 10px;
}
	.invite{
		font-family: Open Sans R;
		display: inline-block;
		background-color: rgba(255, 255, 255, 0);
		color: #000;
		padding: 5px;
		border: 2px solid #000;
		margin-right: 7px;
	}

@media (min-width: 856px) {
	.flex{
		-webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -webkit-flex-direction: row;
	    flex-direction: row;
	}
	.left{
		-webkit-flex: 1.5;
		flex: 1.5;
	}
	.right{
		-webkit-flex: 1;
		flex: 1;
	}
	.attendees-search{
		margin-top: 20px;
	}
}
@media (max-width: 856px) {
	.flex{
		-webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -webkit-flex-direction: column;
	    flex-direction: column;
	}
	.left{
		-webkit-flex: 1;
		flex: 1;
	}
	.right{
		margin-top: 20px;
		-webkit-flex: 1;
		flex: 1;
	}
	.attendees-search{
		margin-top: 0px;
	}
	.welcome{
		display: none;
	}
	.event-box-left{
		width: 85%;
		height: auto;
		padding: 20px;
		position: relative;
	}
	.event-box-right{
		width: 85%;
		height: auto;
		padding: 20px;
		position: relative;
	}
	.stop-label{
		display: block;
	}
}
