/*-- Form Styles --*/

.login-text{
	width: 200px;
	background-color: rgba(255, 255, 255, 0.5);
	border: 2px solid #737B7F;
	margin-top: 40px;
	color: #737B7F;
	z-index: 5;
}
	.login-text:focus{
		background-color: #FFF;
		border: 2px solid #336CCA;
	}
.login-label{
	position: relative;
	bottom: 0px;
	pointer-events: none;
	transition: all 0.5s;
	position: relative;
	right: 230px;
}
.login-label-content{
	position: absolute;
	left: -3px;
	bottom: -10px;
	width: 210px;
	padding: 10px;
	display: inline-block;
}
.signup-text{
	margin-top: 10px;
	display: inline-block;
	width: 45%;
	border: 1px solid #D7D7D7;
}
	.signup-text:focus{
		border: 1px solid #C8D9F4;
	}
.signup-label{
	display: inline-block;
	width: 150px;
	text-align: right;
	margin-right: 10px;
	font-size: 14px;
}
.home-submit{
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 30px;
}
/*-- Home Content --*/

#inline{
	display: none;
	width: 450px;
}
	#inline > h3{
		width: 425px;
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-bottom: 20px;
		border-bottom: 1px solid #C8D9F4;
		text-align: center;
	}
#bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../images/cover.jpg') no-repeat right center;
	background-size: cover;
}
#cover{
	width: 100%;
	height: auto;
	position: relative;
}
#content{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	margin-top: 8%;
	background-color: rgba(255, 255, 255, 0.9);
}
.subtext{
	color: #737B7F;
}
.subtext > a{
	font-family: Open Sans R;
	color: #336CCA;
}
@media (max-width: 836px) {
	#bg{
		opacity: 0.2;
	}
	#content{
		background-color: rgba(255, 255, 255, 0);
	}
	#inline{
		width: 90%;
		margin: 0 auto;
	}
	#inline > h3{
		width: 90%;
		margin: 0 auto;
		margin-top: 10px;
	}
	#inline > form{
		text-align: center;
	}
	.signup-label{
		font-size: 10px;
		width: 80%;
		text-align: center;
		margin-top: 10px;
	}
	.signup-text{
		width: 90%;
	}
}