/* Hack Rice Project */

/*-- Fonts --*/

@font-face{
	font-family: Open Sans L;
	src: url('../fonts/OpenSans-Light.ttf');
}
@font-face{
	font-family: Open Sans R;
	src: url('../fonts/OpenSans-Regular.ttf');
}

/*-- Body Styles --*/

a{
	color: #000;
}
p, input{
	font-family: Open Sans R;
	font-size: 14px;
}
span, label{
	font-family: Open Sans L;
}
h1, h2, h3, h4, h5{
	font-family: Open Sans L;
}
h3{
	font-size: 18px;
}
h1{
	font-size: 24px;
}
ul{
	list-style: none;
	margin-top: 0px;
}
input, textarea{
	box-shadow: none;
	padding: 13px;
	transition: all 0.5s ease;
	border: 1px solid #D7D7D7;
}
input:focus, textarea:focus{
	box-shadow: none;
	outline: 0 none;
}
::-webkit-input-placeholder{
	font-family: Open Sans L;
	color: #737B7F;
	font-size: 11px;
}

/*-- Helper Styles --*/

.form-error{
	font-family: Open Sans R;
	color: #AF2929;
}
.inline{
	display: inline-block;
}
.submit{
	display: block;
	padding: 10px 20px 10px 20px;
	border-radius: 2px;
	background-color: #336CCA;
	color: #FFF;
	border: none;
}
	.submit:focus{
		background-color: #29364A;
	}
.signout{
	display: inline-block;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 8px 16px 8px 16px;
	border-radius: 2px;
	background-color: #AF2929;
	color: #FFF;
	border: none;
}
	.signout:focus{
		background-color: #752020;
	}
.content{
	margin-top: 20px;
	margin-left: 5%;
}

/*-- Flexbox --*/

.flex{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
}

/*-- Navigation --*/

.bar{
	width: 100%;
	height: 60px;
	margin-top: 5px;
	background-color: #FFF;
}
nav{
	position: relative;
}
#menu-logo{
	margin-left: 5%;
	margin-top: 12px;
}
#menu-action{
	margin-right: 5%;
	position: relative;
	bottom: 7px;
}
.menu-item{
	position: relative;
	float: right;
}
	span.menu-item{
		top: 18px;
		margin-right: 15px;
	}
.divider{
	width: 95%;
	margin-left: 2.5%;
	border-bottom: 2px solid #C8D9F4;
}

/*-- Footer --*/

footer{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 25px;
	background-color: #F7F7F7;
}
footer > span{
	font-size: 12px;
	margin-left: 5%;
	display: block;
}

